name: Cypress Tests

on:
  push:
  schedule:
    - cron: '30 8 * * *'

jobs:
  cypress-run:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Cypress run
        uses: cypress-io/github-action@v2
        with:
          record: true
          config: video=true
        env:
          CYPRESS_RECORD_KEY: ${{ secrets.CYPRESS_RECORD_KEY }}
          CYPRESS_login_username: ${{ secrets.CYPRESS_login_username }}
          CYPRESS_login_password: ${{ secrets.CYPRESS_login_password }}
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
